body {
    background-color: #511963;
    text-align: center;
}
#header {
    font-family: "Comic Sans MS", sans-serif;
    text-align: center;
    font-size: clamp(3rem, 5vw, 4rem);
    color: #c9ab57;
}
#subheader {
    font-family: "Comic Sans MS", sans-serif;
    text-align: center;
    font-size: clamp(2rem, 3vw, 3rem);
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #c9ab57;
}
#footerLink {
    display: inline-block;
    text-align: center;
}
#footerImg {
    width: clamp(8rem, 9vw, 10rem);
    display: block;
    margin: 0 auto;
}
#text {
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-family: "Comic Sans MS", sans-serif;
    font-size: clamp(3rem, 4vw, 4rem);
    color: #ffe499;
    padding-top: 0;
}
a:visited {
    color: inherit;
    opacity: 1;
}







