body {
    background-color: #511963;
}
#header {
    font-family: "Comic Sans MS", sans-serif;
    text-align: center;
    font-size: clamp(3rem, 5vw, 4rem);
    color: #c9ab57;
}
#pastCard, #presentCard, #futureCard {
    font-family: "Comic Sans MS", sans-serif;
    text-align: center;
    font-size: clamp(3rem, 4vw, 4rem);
    color: #ffe499;
    border-top: 0px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    display: block;
}
#layout {
    font-family: "Comic Sans MS", sans-serif;
    text-align: center;
    font-size: clamp(2rem, 3vw, 3rem);
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #c9ab57;
}
#footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: clamp(8rem, 9vw, 10rem);
}