body {
    background-color: #511963;
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
}
#header {
    font-size: clamp(4rem, 5.5vw, 7rem);
    color: #c9ab57;
}
.subheader {
    font-size: clamp(2rem, 3vw, 3rem);
    color: #c9ab57;
}
.text {
    font-size: clamp(3rem, 4vw, 4rem);
    color: #ffe499;
}
#footerLink {
    display: inline-block;
    text-align: center;
}
#footerImg {
    width: clamp(8rem, 9vw, 10rem);
    display: block;
    margin: 0 auto;
}