body {
    margin: 0;
    background-image: url("../assets/backgroundimg.png");
    background-repeat: repeat;
    background-size: 256px;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: "Comic Sans MS", sans-serif;
    min-height: 100vh;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

ul.readings-list {
    list-style: none;    /* Removes bullet points */
    padding: 0;          /* Removes default padding */
    margin: 0 auto;      /* Centers the list */
    max-width: 400px;    /* Keeps it from stretching too wide */
}

ul.readings-list li {
    margin-top: 50px;       /* Reset */
    margin-bottom: 0px; /* SAME margin as .text! */
}

a:empty {
    display: none; /* Hides empty links entirely */
}

#header {
    font-size: clamp(4rem, 5.5vw, 7rem);
    color: #c9ab57;
}

.subheader {
    font-size: clamp(2rem, 3vw, 3rem);
    color: #c9ab57;
    margin-top: 50px;
    margin-bottom: 0px;
}

.text {
    font-size: clamp(3rem, 4vw, 4rem);
    color: #ffe499;
}

#footerLink {
    display: inline-block;
    text-align: center;
}

#footerImg {
    width: clamp(8rem, 9vw, 10rem);
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}